* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a09c9c;
}

.container {
  background-color: rgb(95, 138, 253);
  width: 700px;
  height: 300px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  border-radius: 40px;
  border: 2px solid #fff;
}

h1,
p,
label {
  color: rgb(3, 37, 99);
  font-size: 20px;
  font-weight: bold;
}

input {
  padding: 30px;
  border: none;
  background-color: rgb(192, 190, 190);
  font-size: 20px;
}

button {
  padding: 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
}

button:hover {
  background-color: rgb(3, 37, 99);
  color: #fff;
}
